.navi{
    border-style: solid;
    border-color: blue;
    padding-left:15px;
    padding-right: 15px;
}
#icon1{
    color: white;
    
}
#icon2{
    color: white;
    
}
#icon3{
    color: white;
    
}
#icon4{
    color: white;
    
}
#icon5{
    color: white;
    
}
.img1{
    height: 300px;
    width: 300px;
}
.bground{
    background-color: black;
    height: 120vh;
    background-size: cover;
}
.bground1{
    background-color: black;
    height: 140vh;
    background-size: cover;
}
span{
    color: blue;
}
.heading{
    color: whitesmoke;
}
.paragraph{
    color: #9aa5b1;
}
.button1{
    border-radius: 10px;
    border-width: 0px;
    padding: 10px;
    background-color: #4b6cc1;
    width: 150px;
    height:50px
}
.card1{
    height:100px;
    width:100%
}
.img2{
    height: 400px;
    width: 400px;
}
.spe{
    color: #cced00;
}
.bground2{
    background-color:#323f4b;
    background-size: cover;
}
.img3{
    width: 100%;
    
}
.bground3{
    background-color: black;
    background-size: cover;
    
}
.card2{
    background-color: #9aa5b1;
    padding: 15px;
    border-radius: 10px;
    width: 170px;
}
.img4{
    height: 100px;
    width: 100px;
}
.ap{
    color: #cced00;
}
.card3{
    background-color:#3e4c59;
   

}
.card7{
    background-color:#3e4c59;
    height: 350px;
   

}
.img5{
    height: 80px;
    width: 80px;
}
.card4{
    background-color: #323f4b;
}
.bground4{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/portfolio-work-done-bg.png");
    background-size: cover;
}
.icon5{
    color: white;
    font-size: 70px;
}
.icon0{
    color: white;
    font-size: 40px;
}
.hr1{
    width: 80px;
    
    background-color: aliceblue;
    
}
.p2{
    color: aliceblue;
}
.imgc{
    height: 100px;
    width: 100px;
    border-radius: 40px;
    
}
.bg{
    background-color: #0d2436;
    background-size: cover;

}
.iconl{
    color: black;
    font-size: 20px;
}
.bgg{
    background-color: #001c32;
    background-size: cover;
}
.mar{
    margin-top: 150px;
}
.heed{
    color: white;
}
.he{
    color: antiquewhite;
}